
<!doctype html>

<html class="">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Steve Milligan</title>
<link rel="stylesheet" type="text/css" href="_CSS/ghostmap_default mobile.css" media="screen">
</head>
<body>
<div class="gridContainer clearfix">
<div class="fluid Project">
  <div id="div1" class="fluid">
    <div align="center"><span class="nameplate">STEVE MILLIGAN</span><br>
      <span class="jobtitle">Director of Photography</span>
    </div>
  </div>
  <div class="fluid Menu">
    <table width="100%" border="4" cellpadding="2" cellspacing="0" style="page-break-before: always">
      <tr valign="top">
        <td width="33.33%"><div class="mainmenu" align="center">
            <a href="pages/Info.html">Info</a>
          </div></td>
        <td width="33.33%"><div class="mainmenu" align="center">
            <a href="pages/contact.html">Contact</a>
          </div></td>
        <td width="33.33%"><div class="mainmenu" align="center">
            <a href="pages/worksamples.html">Work</a>
          </div></td>
      </tr>
    </table>
  </div>
</div>
<div align="center" class="projecttitle" style="border: none; padding: 0in">  <a href="projects/Lans_Garden/index.html">
  <a href="projects/Lans_Garden/index.html">
	<p><img src="projects/Lans_Garden/thumb/Lans_Garden_1.27.1.jpg" style="width:30%;max-width:600px;"/>  
	  <img src="projects/Lans_Garden/thumb/Lans_Garden_1.70.3.jpg" style="width:30%;max-width:600px;"> 
	  <img src="projects/Lans_Garden/thumb/Lans_Garden_1.2.1.jpg" style="width:30%;max-width:600px;"> 
	  <br>
    Lan's Garden</p>
	</a>
  <a href="projects/Pig Film/index.html">
  <p><img src="projects/Pig Film/thumb/PigFilm_1.193.1.jpg" style="width:30%;max-width:600px;"/> 
	  <img src="projects/Pig Film/thumb/PigFilm_1.81.1.jpg" style="width:30%;max-width:600px;"> 
	  <img src="projects/Pig Film/thumb/PigFilm_1.233.1.jpg" style="width:30%;max-width:600px;"> 
	  <br>
  Pig Film </p>
  </a>
  <a href="projects/Corduroy Roads/index.html">
  <p><img src="projects/Corduroy Roads/thumb/10-Time-Set-Free-Right.Still007.jpg" style="width:30%;max-width:600px;"/>
    <img src="projects/Corduroy Roads/thumb/10-Time-Set-Free-Right.Still004.jpg" style="width:30%;max-width:600px;">
    <img src="projects/Corduroy Roads/thumb/10-Time-Set-Free-Right.Still005.jpg" style="width:30%;max-width:600px;">
    <br>
    Corduroy Roads </p>
  </a>
  <a href="projects/Out of My Hands/index.html">
  <p>
    <img src="projects/Out of My Hands/thumb/A005_C027_0817AG.0000000.jpg" style="width:30%;max-width:600px;">
    <img src="projects/Out of My Hands/thumb/A004_C009_08172L.0000338.jpg" style="width:30%;max-width:600px;">
    <img src="projects/Out of My Hands/thumb/A002_C023_0817H2.0000877.jpg" style="width:30%;max-width:600px;">
    <br>
    Out of My Hands </p>
  </a>
  <a href="projects/The Record Breaker/index.html">
  <p><img src="projects/The Record Breaker/large/123008_THE_RECORD_BREAKER_MASTER (08159).jpg" style="width:30%;max-width:600px;">
    <img src="projects/The%20Record%20Breaker/large/123008_THE_RECORD_BREAKER_MASTER%20(33485).jpg" style="width:30%;max-width:600px;">
    <img src="projects/The%20Record%20Breaker/large/123008_THE_RECORD_BREAKER_MASTER%20(16818).jpg" style="width:30%;max-width:600px;">
    <br>
    The Record Breaker </p>
  </a>
  <a href="projects/Bottom of the River/index.html">
  <p><img src="projects/Bottom of the River/thumb/_4610352233.jpg" style="width:30%;max-width:600px;">
    <img src="projects/Bottom of the River/thumb/_0144311122.jpg" style="width:30%;max-width:600px;">
    <img src="projects/Bottom of the River/thumb/_1115423623.jpg" style="width:30%;max-width:600px;">
    <br>
    Bottom of the River</p>
  </a>
  <a href="projects/Loving Story/index.html">
  <p><img src="projects/Loving Story/content/bin/images/large/_3669357885.jpg" style="width:30%;max-width:600px;">
    <img src="projects/Loving Story/content/bin/images/large/_8664657856.jpg" style="width:30%;max-width:600px;">
    <img src="projects/Loving Story/content/bin/images/large/_5525763658.jpg" style="width:30%;max-width:600px;"><br>
    The Loving Story </p>
  </a>
  <a href="projects/American Teacher/index.html">
  <p><img src="projects/American Teacher/thumb/_0970868486.jpg" style="width:30%;max-width:600px;">
    <img src="projects/American Teacher/thumb/_9301314124.jpg" style="width:30%;max-width:600px;">
    <img src="projects/American Teacher/thumb/_4250273226.jpg" style="width:30%;max-width:600px;">
    <br>
    American Teacher</p>
  </a>
  <a href="projects/In My Mind/index.html">
  <p><img src="projects/In My Mind/thumb/Jason plays bell.jpg" style="width:30%;max-width:600px;">
    <img src="projects/In My Mind/thumb/Bob lobby motion blur.jpg" style="width:30%;max-width:600px;">
    <img src="projects/In My Mind/thumb/Isaac CU through trumpet.jpg" style="width:30%;max-width:600px;"><br>
    In My Mind</p>
  </a>
  <a href="projects/Kannapolis/index.html">
  <p><img src="projects/Kannapolis/thumb/Kannapolis AMP EPK.00_07_19_00.Still012.jpg" style="width:30%;max-width:600px;">
    <img src="projects/Kannapolis/thumb/Kannapolis AMP EPK.00_02_12_15.Still005.jpg" style="width:30%;max-width:600px;">
    <img src="projects/Kannapolis/thumb/Kannapolis-AMP-EPK.00_04_27_05.Still009.jpg" style="width:30%;max-width:600px;"><br>
    Jenny Scheinman</p>
  </a>
  <a href="projects/Billy Childs/index.html">
  <p><img src="projects/Billy Childs/thumb/Billy-Childs---Enlightened-Souls.00_04_53_18.Still009.jpg" style="width:30%;max-width:600px;">
    <img src="projects/Billy Childs/thumb/Billy-Childs---Enlightened-Souls.00_05_00_12.Still010.jpg" style="width:30%;max-width:600px;">
    <img src="projects/Billy Childs/thumb/Billy-Childs---Enlightened-Souls.00_00_23_15.Still003.jpg" style="width:30%;max-width:600px;"><br>
    Billy Childs</p>
  </a>
  <a href="projects/Shen Wei/index.html">
  <p><img src="projects/Shen Wei/thumb/SWatNCMA17.jpg" style="width:30%;max-width:600px;">
    <img src="projects/Shen Wei/thumb/SWatNCMA8.jpg" style="width:30%;max-width:600px;">
    <img src="projects/Shen Wei/thumb/SWatNCMA16.jpg" style="width:30%;max-width:600px;"><br>
    Shen Wei at NCMA</p>
  </a>
  <a href="projects/MSTRKRFT/index.html">
  </p>
  <p><img src="projects/MSTRKRFT/thumbs/MSTRKRFTpromo4.00_00_16_04.Still001.jpg" style="width:30%;max-width:600px;">
    <img src="projects/MSTRKRFT/thumbs/MSTRKRFTpromo4.00_00_32_09.Still008.jpg" style="width:30%;max-width:600px;">
    <img src="projects/MSTRKRFT/thumbs/MSTRKRFTpromo4.00_00_33_09.Still012.jpg" style="width:30%;max-width:600px;"><br>
    MSTRKRFT at Yorktown</p>
  </a>
  <a href="projects/Scheherazade/index.html">
  <p><img src="projects/Scheherazade/thumbs/Scheherazade.00_00_25_21.Still005.jpg" style="width:30%;max-width:600px;">
    <img src="projects/Scheherazade/thumbs/Scheherazade.00_00_12_13.Still006.jpg" style="width:30%;max-width:600px;">
    <img src="projects/Scheherazade/thumbs/Scheherazade.00_00_32_04.Still004.jpg" style="width:30%;max-width:600px;"><br>
    Lines Ballet - Scheherazade</p>
  </a>
  <a href="projects/Friendship/index.html">
  <p><img src="projects/Friendship/thumbs/Tucker stairs and road.jpg" style="width:30%;max-width:600px;">
    <img src="projects/Friendship/thumbs/Tucker tracks.jpg" style="width:30%;max-width:600px;">
    <img src="projects/Friendship/thumbs/Tucker wind MCU.jpg" style="width:30%;max-width:600px;"><br>
    Friendship</p>
  </a>
</div>
</body>
</html>
